<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261411523556-4o0r3514bdj3cpmdkbre3seuaiuo3qpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261411523556-4o0r3514bdj3cpmdkbre3seuaiuo3qpb</string>
	<key>API_KEY</key>
	<string>AIzaSyB0SYMwnfkumBSgjzETTliO-0lStuVaJGg</string>
	<key>GCM_SENDER_ID</key>
	<string>261411523556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MettingDenimMerzhan.Meeting</string>
	<key>PROJECT_ID</key>
	<string>meeting-fc977</string>
	<key>STORAGE_BUCKET</key>
	<string>meeting-fc977.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261411523556:ios:83ce98d8dd2490064a15f1</string>
</dict>
</plist>